@use 'sass:map';
@use '@angular/material' as mat;
@include mat.core();


// 1. Define your custom yellow color palette
$custom-yellow-palette: (
  50:  #fdf3dc,
  100: #fbe6ad,
  200: #f8d57e, // base
  300: #f5c85e,
  400: #eeb03d,
  500: #dcb660,
  600: #b99945,
  700: #9c7e32,
  800: #7e681f,
  900: #665814,
  contrast: (
    50:  #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  )
);

// 2. Define accent and warn using built-in palettes
$my-primary: mat.m2-define-palette($custom-yellow-palette, 200, 100, 700);
$my-accent: mat.m2-define-palette(mat.$m2-blue-grey-palette, 500);
$my-warn: mat.m2-define-palette(mat.$m2-red-palette);

// 3. Create your custom theme
$my-theme: mat.m2-define-light-theme((
  color: (
    primary: mat.m2-define-palette($custom-yellow-palette, 200, 100, 700),
    accent: $my-accent,
    warn: $my-warn,
  ),
  typography: mat.m2-define-typography-config(), // Optional: override typography if needed
));

// 4. Apply the theme
@include mat.core();
@include mat.all-component-themes($my-theme);



body{
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: #fff;
  color: #1E1E1E; // or your brand-dark color
  line-height: 1.6;
}

// Elegant serif for headings
h1, h2, h3, .brand-font {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 600;
  letter-spacing: 0.5px;
}

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --primary-color-dark: #F5BC00;
  --primary-color:  #FFD447;
  --primary-color-fade:  #FFDE70;
  --primary-color-light:  #FFEFBA;
  --primary-color-dim:  #CC9C00;
}

[data-theme='dark'] {
  --bg-color: #121212;
  --text-color: #ffffff;
  --primary-color: #0d6efd;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
