@use '@angular/material' as mat;
@use 'sass:map';

// Your brand colors
$brand-primary: #FFD447;
$brand-accent: #1e1e1e;
$brand-warn: #e53935;

// Create your color palettes
$custom-primary: mat.define-palette(mat.$yellow-palette, 300);
$custom-accent: mat.define-palette(mat.$gray-palette, 900);
$custom-warn: mat.define-palette(mat.$red-palette);

// Define your theme
$custom-theme: mat.define-light-theme((
  color: (
    primary: $custom-primary,
    accent: $custom-accent,
    warn: $custom-warn
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Apply the theme
@include mat.core();
@include mat.all-component-themes($custom-theme);
