@use 'sass:map';
@import '~@angular/material/theming';


// Your brand colors
$brand-primary: #FFD447;
$brand-accent: #1e1e1e;
$brand-warn: #e53935;

// Define your theme
$custom-theme: mat-light-theme($brand-primary, $brand-accent, $brand-warn);


// Apply the theme
@include angular-material-theme($custom-theme);

