<div class="auth-container">
  <h2>Good to see you again</h2>
  <p>Your wardrobe is waiting</p>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <!-- Email -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
      <mat-error
        *ngIf="
          loginForm.get('email')?.touched &&
          loginForm.get('email')?.hasError('required')
        "
      >
        *Email is required
      </mat-error>
      <mat-error
        *ngIf="
          loginForm.get('email')?.touched &&
          loginForm.get('email')?.hasError('email')
        "
      >
        *Please enter a valid email
      </mat-error>
    </mat-form-field>

    <!-- Password -->
    <mat-form-field appearance="outline" class="full-width password-field">
      <mat-label>Password</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        formControlName="password"
      />
      <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error
        *ngIf="
          loginForm.get('password')?.touched &&
          loginForm.get('password')?.hasError('required')
        "
      >
        *Password is required
      </mat-error>
    </mat-form-field>

    <div class="login-buttons">
      <button mat-flat-button color="primary" class="submit-btn" type="submit">
        Login
      </button>
      <div id="google-signin-button"  class="login-with-google-btn" >
        Sign in with Google
      </div>
    </div>

  </form>
  <!-- OTP Verification Form -->
  <form *ngIf="isOtpRequired" [formGroup]="otpForm" (ngSubmit)="onOtpSubmit()">
    <div class="otp-container">
      <input
        matInput
        *ngFor="let control of otpControls; let i = index"
        [formControlName]="i"
        maxlength="1"
        (input)="onOtpInput($event, i)"
        (paste)="onOtpPaste($event)"
        [attr.aria-label]="'OTP Box ' + (i + 1)"
      />
    </div>
    <button mat-flat-button color="primary" class="submit-btn" type="submit">
      Verify OTP
    </button>
  </form>
  <div class="revert-prompt">
    Don't have an account? <a routerLink="/auth/register">Create now</a>
  </div>
  @if(showLoader){
  <mat-progress-bar
    mode="indeterminate"
    style="margin-top: 10px"
  ></mat-progress-bar>
  }
</div>
